@model IEnumerable<Contato>

<div class="container">

    <div class="d-flex justify-content-between align-items-centre mb-5">
        <h1>Lista de Contatos</h1>
        <a class="btn btn-success mx-2" asp-controller="Contato" asp-action="Cadastrar">Novo Contato</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Nome</td>
                        <td>@item.Sobrenome</td>
                        <td>@item.Telefone</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Contato" asp-action="Editar"
                                asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-danger" asp-controller="Contato" asp-action="Excluir"
                                asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>