@model IEnumerable<Contato>

<div class="container">

    <div>
        <h1 class="mb-3">Lista de Contatos</h1>
        <a class="btn btn-success mb-3" asp-controller="Contato" asp-action="Cadastrar"><i
                class="bi bi-file-earmark-plus mx-2"></i>Novo Contato</a>
    </div>

    <table id="Contatos" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Nome</td>
                        <td>@item.Sobrenome</td>
                        <td>@item.Telefone</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Contato" asp-action="Editar"
                                asp-route-id="@item.Id"><i class="bi bi-pencil-square mx-2"></i>Editar</a>
                            <a class="btn btn-danger" asp-controller="Contato" asp-action="Excluir"
                                asp-route-id="@item.Id"><i class="bi bi-trash3-fill mx-2"></i>Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>